# Data Science Tools And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:

- List popular languages for Data Science.

- List popular libraries for Data Science.

- Create tables using Markdown.

- Perform basic arithmetic operations in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|---|
| Jupyter Notebook / JupyterLab |
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
### This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [20]:
### This will convert 200 minutes to hours by diving by 60.
# Defining the number of minutes
total_minutes = 200

# Convert minutes to hours by dividing by 60
total_hours = total_minutes / 60

# Print the results
print(f"{total_minutes} minutes is equal to {total_hours} hours")

200 minutes is equal to 3.3333333333333335 hours

## Author
Basil Agas